html {
  height: 550px;
  overflow: auto;
}

body {
  /* background-color: rgba(255, 255, 255, 0); */
  background-color: aliceblue;
  font-size: 14px;
  margin: auto;
  /* margin: 0; */
  padding: 0;
  color: rgb(63, 60, 60);
  max-width: 755px;
  min-width: 755px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 15px 12px;
}

h1 {
  font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-bottom: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section {
  margin-top: 20px;
  transition: 2s;
  padding-left: 30px;
}
.section-edit-url.unavailable {
  pointer-events: none;
}

#header {
  top: 0;
  width: 100%;
  z-index: 1;
  transition: transform 0s;
  background-image: url(../images/settings/profileBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#info {
  z-index: 2;
  background-color: transparent;
  height: 130px;
  transition: transform 0s;
}

#info span {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
}

#info a {
  color: #51ddff;
}

.info-container {
  position: sticky;
  top: 0px;
  margin: 0px 0% 10px 0px;
  padding-top: 20px;
  text-align: center;
}

.infoblock {
  margin: 5px;
  padding: 6px 12px;
  display: inline-block;
  color: #424949;
  width: auto;
  height: auto;
  vertical-align: middle;
}

.infoblock img {
  padding: 0px 0px 0px 0px;
  width: 60px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 50px;
}

#info-title {
  margin-top: 5px;
  font-size: 15px;
}

#info-subtitle {
  margin: 5px 0px;
  font-size: 10px;
}

#container {
  padding: 48px 70px 0;
  width: 100%;
  box-sizing: border-box;
  /* max-width: 755px;
    min-width: 755px; */
}

.mode-title {
  font-weight: 600;
  font-size: 18px;
  color: #333333;
}

.forcedMode-container {
  display: none;
}

.minor_text {
  margin-top: 10px;
  font-size: 12px;
}

#title-container {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  left: 0px;
  right: 0px;
  color: black;
}

#forest-icon {
  height: 24px;
  width: 24px;
}

input[type='checkbox'],
label {
  cursor: pointer;
}

.switch-mode-container {
  position: relative;
}

.switch-mode-container.unavailable {
  opacity: 0.5 !important;
}
.switch-mode-container.unavailable:hover ~ .blocking-message {
  opacity: 1;
}

#settings {
  position: relative;
}
.blocking-message {
  background-color: #8c8c8c;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
  border-radius: 5px;
  position: absolute;
  top: -8px;
  left: 300px;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  align-items: center;
}
.blocking-message::before {
  content: '';
  position: absolute;
  right: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 6px 4px 0;
  border-color: transparent #8c8c8c transparent transparent;
}
.choose-background {
  position: relative;
  padding: 6px !important;
  width: 320px;
  display: flex;
  margin-left: -48px;
}

.choose-background.unavailable {
  pointer-events: none;
}

.choose-background > * {
}

.choose-background input[type='radio'] {
  display: none;
}

.choose-background label {
  vertical-align: text-top;
  color: black;
  display: inline-block;
  width: 48%;
  height: 100%;
  cursor: pointer;
  z-index: 0;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.choose-slider {
  background-color: rgba(77, 164, 136, 1);
  z-index: -1;
  left: 2%;
  width: 48%;
  height: 100%;
  position: absolute;
  top: 0px;
  vertical-align: middle;
  -webkit-border-radius: 100px/100px;
  -moz-border-radius: 100px/100px;
  border-radius: 100px/100px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#blacklist-toggle:checked ~ .choose-slider {
  background: rgba(77, 164, 136, 1);
  left: 1%;
}

#blacklist-toggle:checked ~ #settings_blacklist_title {
  color: rgba(255, 255, 255, 1);
}

#whitelist-toggle:checked ~ #settings_whitelist_title {
  color: rgba(255, 255, 255, 1);
}

#whitelist-toggle:checked ~ .choose-slider {
  background: rgba(77, 164, 136, 1);
  left: 47%;
}

.section {
  transition: max-height 0.5s;
}

#add-to-list {
  height: 14px;
  width: 14px;
}

.new-list-box {
  width: 400px;
  border: none;
  color: #666;
  border-bottom: 1px solid #aaaaaa;
  font-size: 14px;
  padding-left: 3px;
  margin-left: 24px;
}

.new-list-box:focus {
  outline: 0;
}

.new-list-box::placeholder {
  color: #aaaaaa;
}

.favicon {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

#whitelist li,
#blacklist li {
  font-size: 12px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

#settings-whitelist-description,
#settings-blacklist-description {
  clear: left;
  text-align: left;
  font-size: 14px;
}

li:hover .x {
  visibility: visible;
}

.x {
  visibility: hidden;
  height: 12px;
  width: 12px;
  vertical-align: middle;
}

#login-link {
  font-weight: bold;
}

#big-forest-image {
  margin: 0 auto;
  width: 250px;
  height: 171px;
  background-image: url(../images/settings/forest.png);
  background-size: contain;
}

#os li {
  padding: 0px;
  height: 80px;
  width: 80px;
  margin: auto 40px;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#os li div {
  position: relative;
  padding-top: 20px;
  text-align: center;
  width: 100%;
  top: 100%;
  font-size: 15px;
  font-weight: bold;
  color: black;
  /* hint that text is also clickable */
  cursor: pointer;
}

#login-popup {
  position: fixed;
  margin: 0 auto;
  top: 15%;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: transform 0.3s;
  z-index: 15;
}

.login-popup-shrink,
.edit-popup-shrink {
  transform: scale(0);
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9px;
}

#login-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#login-email-input,
#login-password-input {
  width: 240px;
  height: 27px;
  padding: 0px 3px;
  line-height: 27px;
  font-size: 15px;
  border: none;
  border-bottom: 1.2px solid #6b6b6b;
  outline: none !important;
  margin-top: 12px;
}

#login-btn,
#login-cancel,
#edit-btn,
#edit-cancel {
  display: inline-block;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-radius: 24px;
  width: 80px;
  font-size: 16px;
  padding: 5px 0;
}

#login-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

#login-btn,
#edit-btn {
  right: 50px;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(77, 164, 136, 1);
  border: 2px solid rgba(77, 164, 136, 1);
  /*
    background-color: #8CC914;
    border-bottom: 3px solid #649503;*/
}

#login-cancel,
#edit-cancel {
  left: 50px;
  color: rgba(77, 164, 136, 1);
  background-color: transparent;
  border: 2px solid rgba(77, 164, 136, 1);
  /*
    background-color: #BBBBBB;
    border-bottom: 3px solid #979797;*/
}

#login-message,
#login-loading {
  text-align: center;
  width: 250px;
  margin: 0 auto;
  margin-top: 30px;
  left: 0px;
  right: 0px;
  color: red;
}

#login-loading {
  margin-top: 15px;
}

#login-mask,
#edit-mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #0006;
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.login-masked,
.edit-masked {
  opacity: 1 !important;
}

#edit-popup {
  position: fixed;
  margin: 0 auto;
  top: 100px;
  left: 0px;
  right: 0px;
  width: 320px;
  height: 310px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: transform 0.3s;
  z-index: 15;
}

#edit-tag {
  background-image: url(../images/settings/dropdownarrow2.png);
  background-repeat: no-repeat;
  background-position: 165px 17px;
  background-size: 15px;
  padding: 2px 30px 2px 5px;
  text-align: center;
  width: 190px;
  height: 49px;
  font-size: 20px;
  font-weight: 500;
  border: 0px;
  box-shadow: transparent 0px 0px 0px;
  text-align-last: center;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  left: 12px;
}

#edit-note {
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  width: 253px;
  height: 133px;
  border: 2px solid rgba(77, 164, 136, 1);
  padding: 10px;
  outline: none;
  resize: none;
  cursor: pointer;
}

.new-black-box-hidden {
  display: none;
}

#footer {
  height: 80px;
}

#tab {
  display: flex;
  background-position: bottom;
  width: 755px;
}

.tab {
  height: 46px;
  z-index: 9;
}

.tab-fixed {
  position: fixed !important;
  background-image: url(../images/settings/profileBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
}

.tablinks {
  color: rgba(255, 255, 255, 0.8);
  padding: 0 20px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  transition: border-bottom 0.5s;
  display: flex;
  align-items: center;
}

#tab-logout {
}

.transparent {
  opacity: 0;
}

#tab-info {
  display: flex;
  align-items: center;
  transition: 0.3s;
}

#tab-info-name {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  transition: opacity 0.3s;
  margin-left: 9px;
}

#tab-info img {
  width: 30px;
  border-radius: 50%;
}

.tab hr {
  width: calc(50% - 4px);
  position: absolute;
  bottom: 3px;
  margin: 0;
  padding: 0;
  color: transparent;
  transition: left 0.5s;
  border-radius: 90px/90px;
  border: 1.5px solid rgba(255, 255, 255, 0.9);
}

.tab-container {
  position: relative;
  margin-right: auto;
  display: flex;
}

#tab-settings.active ~ hr {
  left: 0;
}

#tab-synclist.active ~ hr {
  left: 50%;
}

.tablinks:hover {
  color: white;
}

.tab .active {
  /*border-bottom: 2px solid white;*/
  color: rgba(255, 255, 255, 1);
}

#synclist-no-tree {
  text-align: center;
  font-size: 15px;
  margin: 10px;
}

#synclist-limit {
  text-align: center;
  position: relative;
  left: 190px;
  top: 50px;
  width: 300px;
}

#login-link {
  background-color: rgba(77, 164, 136, 1);
  border: none;
  font-weight: 300;
  color: white;
  padding: 10px 32px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px / 100px;
}

#sync-btn {
  text-align: center;
  background-color: rgba(77, 164, 136, 1);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 100px / 100px;
  font-weight: 200;
  padding: 10px;
  width: 280px;
  cursor: pointer;
}

#sync-btn div {
  display: inline;
  cursor: pointer;
}

#sync-btn-done div {
  display: inline;
}

#sync-btn-done {
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  background-color: #6b6b6b;
  border-radius: 100px / 100px;
  font-weight: 200;
  font-size: 16px;
  padding: 10px;
  width: 280px;
}

#no-sync-btn {
  text-align: center;
  background-color: rgba(77, 164, 136, 1);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 100px / 100px;
  font-weight: 200;
  font-size: 16px;
  padding: 10px;
  width: 280px;
}

#sync-buttons {
  position: relative;
  max-width: 300px;
  font-size: 16px;
  left: 30%;
  margin: 20px 0;
}

.tree-day {
  margin: 0 20px;
}

.tree-date {
  position: sticky;
  top: 50px;
  display: inline-block;
  float: left;
  color: black;
  font-family: 'PingFangTC-Regular', 'PingFangHK-Regular', 'PingFangSC-Regular', 'Helvetica',
    'Microsoft JhengHei', 'Microsoft YaHei', 'MS Gothic', 'Malgun Gothic', 'Arial', 'sans-serif';
  text-align: right;
  margin-right: 40px;
  min-width: 131px;
}

.date-title {
  font-size: 25px;
}

.date-day {
  font-size: 15px;
}

.tree-daylist {
  display: inline-block;
}

.tree {
  margin: 10px 0;
  display: table;
  color: black;
}

.tree img {
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  float: left;
  background-color: rgba(0, 0, 0, 0.1);
  display: table-cell;
  margin: 0 20px 0 0;
}

.tree-info {
  margin: 0 10px;
  width: 170px;
  max-width: 170px;
  height: 50px;
  text-align: left;
  padding: 0 30px;
  position: relative;
  border-radius: 100px / 100px;
  background-color: rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
}

.tree-tag {
  font-weight: 600;
  font-size: 14px;
  font-family: 'PingFangTC-Regular', 'PingFangHK-Regular', 'PingFangSC-Regular', 'Helvetica',
    'Microsoft JhengHei', 'Microsoft YaHei', 'MS Gothic', 'Malgun Gothic', 'Arial', 'sans-serif';
}

.tree-status {
  float: right;
  margin: 5px;
  margin-left: 20px;
  height: 40px;
  line-height: 35px;
}

.tree-status i {
  vertical-align: middle;
  color: #6b6b6b;
}

.list-box li > img {
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

.list-box li > span {
  font-size: 15px;
  margin-left: 6px;
}

.textleft {
  text-align: left;
}

.sync-icon {
  margin: 0 5px;
  cursor: pointer;
}

.icon-spin {
  -webkit-animation: spin 2s infinite;
  -moz-animation: spin 2s infinite;
  animation: spin 2s infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(1080deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(1080deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

#profile-avatar {
  border-radius: 50%;
  width: 65px;
  padding: 0px;
  border: 3px solid rgba(255, 255, 255, 0.9);
}

#profile-name {
  padding-bottom: 10px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
}

#profile-info p {
  vertical-align: middle;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
}

#profile-info img {
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  border: 0px solid rgba(255, 255, 255, 0.9);
  margin-bottom: 12px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  opacity: 0;
  width: 120px;
  background-color: #6b6b6b;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  font-size: 14px;
  z-index: 1;
  font-weight: 600;
  top: 0;
  left: 110%;
  margin-left: 15px;
  transition: all 1s ease;
  display: flex;
  align-items: center;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  right: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #6b6b6b transparent transparent;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}

.tree-info:hover > .note {
  color: rgba(255, 255, 255, 0.9);
  opacity: 1;
}

.note {
  width: 190px;
  height: 30px;
  opacity: 0;
  background-color: rgba(77, 164, 136, 1);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 100px / 100px;
  text-align: center;
  position: absolute;
  font-size: 12px;
  padding: 10px 20px;
  z-index: 3;
  left: 0;
  top: 0;
  font-weight: 400;
  vertical-align: middle;
  line-height: 30px;
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.4s ease;
  cursor: pointer;
}

.about-forest {
  margin-top: 24px;
}

.about-forest__title {
  font-weight: 600;
  font-size: 18px;
  color: #333333;
}

.about-forest__content {
  margin-top: 16px;
  padding: 0 40px;
}

.about-forest__context {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
}

.about-forest__carousel {
  width: 540px;
  height: 270px;
  margin-top: 18px;
  display: flex;
  align-items: center;
  position: relative;
}

.about-forest__carousel-arrow {
  position: absolute;
  width: 14px;
  height: 28px;
  cursor: pointer;
}

.about-forest__carousel-arrow.right {
  left: 102%;
}

.about-forest__carousel-arrow.left {
  right: 105%;
}

.about-forest__carousel-images {
  height: 100%;
  display: flex;
  overflow: hidden;
  pointer-events: none;
}

.about-forest__carousel-images > img {
  height: 100%;
  margin-right: 11px;
  border-radius: 12px;
  transform: translateX(0px);
  transition: transform 0.4s ease;
}

.store-row {
  display: flex;
  align-items: center;
  margin-top: 26px;
}

.store-row > img {
  height: 40px;
  margin-right: 16px;
  cursor: pointer;
}

label {
  display: block;
}

/* body {
  background-color: yellow;
  margin: auto;
} */

.container {
  background-color: aliceblue;
  width: 80%;
  /* margin: 50px auto; */
}

#savebutton {
  margin-top: 50px;
  width: 70px;
}